**/.dockerignore
**/.venv
**/.git
**/.gitignore
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/*.egg-info
README.md
.vscode
__pycache__
.pytest_cache
build
dist
requirements_deprecated.txt
requirements_latest_versions.txt
requirements_vscode.txt
requirements.in
